h1 {
    text-align: center;
}

body {
    background-color: rgb(223, 210, 200);
}

img {
    padding: 20px;
    margin: 100px;
    border-radius: 40px;
}

#favorite_colors {
    color:rgb(62, 67, 109)
}

#photoid {
    font-weight: bold;
}

ol li {
    font-size: 40px ;
}
